/* Signup.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-container {
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.signup-container h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container form div {
  margin-bottom: 16px;
}

.signup-container form label {
  margin-bottom: 8px;
  color: #555;
}

.signup-container form input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.signup-container form input:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  outline: none;
  border-color: #888;
}

.signup-container button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.signup-container button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.signup-container span {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.signup-container span a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.signup-container span a:hover {
  color: #0056b3;
}
/* Login.css */
/* Login.css */



.login-container h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2rem;
}

form {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #555;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

span {
  display: block;
  margin-top: 10px;
  text-align: center;
}

span a {
  color: #007bff;
  text-decoration: none;
}

span a:hover {
  text-decoration: underline;
}
